.myr {
    border: solid green 1px;
}

.myc {
    border: solid rgb(251, 101, 0) 1px;
}

.job_icon {
    width: 100px;
    height: 100px;
}

img {
    background: white;
    padding: 2%;
}

.pageLevelComponent {
    height: 100vh;
}

.contentDetails {
    background: grey;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.contentName {
    margin-bottom: 10px;    
    word-wrap: break-word;
}

.contentDesc {
    word-wrap: break-word;
}

.header {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #a99a15;
    color: black;
    border: 1px solid #1525a9;
}

.headerCont {
    border: gray 5px solid;
}

body {
    background-image: url('https://ak.picdn.net/shutterstock/videos/1013215220/thumb/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.stHover {
    filter: contrast(200%);
}

.selected {
    background: #00ac95;
}

.default {
    background: #212529;
    color: white;
}

.topic:hover {
    border: solid whitesmoke 2px;
}

.topicsContTheme {
    background: #00ac95;
}

